<h1>
  Add a new salary
</h1>


<hr>

<form action="/create_salary" method="post">

  <div class="form-group">
    <label for="monthly_wage">
      Monthly wage
    </label>

    <input type="text" id="monthly_wage" name="monthly_wage" class="form-control">
  </div>

  <div class="form-group">
    <label for="monthly_benefits">
      Monthly benefits
    </label>

    <input type="text" id="monthly_benefits" name="monthly_benefits" class="form-control">
  </div>

  <div class="form-group">
    <label for="month_id">
      Month
    </label>

    <input type="text" id="month_id" name="month_id" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create salary
  </button>
</form>

<hr>

<a href="/salaries">
  Go back
</a>
