<h1>
  Edit child #<%= @child.id %>
</h1>

<hr>

<form action="/update_child/<%= @child.id %>" method="post">

  <div class="form-group">
    <label for="children_id">
      Children
    </label>

    <input type="text" id="children_id" name="children_id" class="form-control" value="<%= @child.children_id %>">
  </div>

  <div class="form-group">
    <label for="children_date">
      Children date
    </label>

    <input type="text" id="children_date" name="children_date" class="form-control" value="<%= @child.children_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update child
  </button>
</form>

<hr>

<a href="/children">
  Go back
</a>
