<!-- Validation failure messages -->
<% if @child.present? %>
  <% if @child.errors.any? %>
    <% @child.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new child
</h1>


<hr>

<!-- Form child start -->
<form action="/create_child" method="post">
<!-- Form child end -->

  <!-- Label and input for children_id start -->
  <div class="form-group">
    <label for="children_id">
      Children
    </label>

    <!-- Input for children_id start -->
    <input type="text" id="children_id" name="children_id" class="form-control" value="<%= @child.children_id %>">
    <!-- Input for children_id end -->
  </div>
  <!-- Label and input for children_id end -->

  <!-- Label and input for children_date start -->
  <div class="form-group">
    <label for="children_date">
      Children date
    </label>

    <!-- Input for children_date start -->
    <input type="text" id="children_date" name="children_date" class="form-control" value="<%= @child.children_date %>">
    <!-- Input for children_date end -->
  </div>
  <!-- Label and input for children_date end -->

  <button class="btn btn-block btn-outline-secondary">
    Create child
  </button>
</form>

<hr>

<a href="/children">
  Go back
</a>
