<% if @child.present? %>
  <% if @child.errors.any? %>
    <% @child.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new child
</h1>


<hr>

<form action="/create_child" method="post">

  <div class="form-group">
    <label for="children_id">
      Children
    </label>

    <input type="text" id="children_id" name="children_id" class="form-control" value="<%= @child.children_id %>">
  </div>

  <div class="form-group">
    <label for="children_date">
      Children date
    </label>

    <input type="text" id="children_date" name="children_date" class="form-control" value="<%= @child.children_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create child
  </button>
</form>

<hr>

<a href="/children">
  Go back
</a>
